body {
  /* font-family: 'Open Sans Condensed'; */
  /* font-family: 'Bubbler One', sans-serif; */
  font-family: 'Rajdhani', sans-serif;
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
